:root{
    --font-family-base: 'Helvetica', sans-serif;
    --font-family-title: 'Raleway', 'Arial', sans-serif;
    --font-weight-regular :400;
    --font-weight-bold: 700;
    --line-height-small: 1.2;
    --line-height-base: 1.2;
    --line-height-medium: 1.2;
    --section-header-align: "center"
}

body{
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}
h1, h2, h3, h4, h5, h6{
    font-weight: var(--font-weight-bold);
}
a{
    text-decoration: none;
}

.section-header{
    text-align: var(--section-header-align);

}