.card-testimonials .card-quote{
    position: relative;

}

.card-testimonials .card-quote::before{
    content: "\201C";
    position: absolute;
    top: -4.5rem; /* Vertical position */
    left: -1rem; /* Horizontal position from the left */
    color: #efeded; /* Foreground color */
    font-size: 10rem; /* Font size */
    z-index: -1; /* Z-order */
}